basket.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title basket
    link(rel="stylesheet", href="styles.css")
    link(rel="stylesheet", href="icon/fontello/css/icon.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
  body
    .panel-control
      mixin controler(alert, icon, title, active)
        if alert == 'alert'
          a(href="#" class=active).panel-control__item
            .panel-control__icon
              .panel-control__alert new
              i(class=`icon-`+icon)
            .panel-control__title=title
        else  
          a(href="#" class=active).panel-control__item 
            .panel-control__icon
              i(class=`icon-`+icon)
            .panel-control__title=title  
      +controler('', 'home', 'Главная', 'active')
      +controler('', 'catalog', 'Каталог')
      +controler('alert', 'products', 'Продукты')
      +controler('', 'basket', 'Корзина')
      +controler('', 'profile', 'Профиль')

    .menu
      .menu__close 
        i.icon-close
      .menu__item-block 
        .title Моя учетная запись
        ul
          mixin item(name)
            li 
              a(href="#")=name
          +item('Заказы')     
          +item('Учетная запись')
          +item('О нас')
          +item('Обратная связь')
          +item('Подарочные сертификаты')
          +item('Торговые марки')
          +item('Карта сайта')
          +item('Блог')
      .menu__item-block 
        .title Покупательский сервис
        ul
          +item('Ваши заказы')     
          +item('Отложенные')     
          +item('Список сравнения')     
      .menu__item-block 
        .title Контакты
        ul
          li г. Бишкек, ул. Уметалиева 127
          +item('+996(550) 050-060 (звонок бесплатный)')     
          +item('+996(701) 050-060')     
          +item('+996(778) 050-060')     
          li Пн-Вс 9.00 - 18.00
          +item('info@azor.kg')     
          +item('Посмотреть на карте')  
      .menu__item-block.menu__item-block--social 
        .title Присоединяйтесь
        .social 
          ul 
            mixin social(icon) 
              li 
                a(href="#")
                  img(src=`icon/`+icon+`.svg`, alt="")
            +social('tg')       
            +social('wa')       
            +social('in')       
            +social('fb')       
            +social('yt')       
      .menu__item-block 
        .title Оставайтесь на связи
        p Подпишитесь на нашу рассылку и получите купон на 10% скидку!
          form(action="")
            .subscribe
              input(type="text" placeholder="email")
              button.btn.btn--orange подписаться 
   
    header.header 
      .header__top
        .container.header__top-wrap 
          .header__col
            .hamburger 
            a(href="#").logo
              img(src="img/logo.svg", alt="")
          .header__col
            .header__control 
              a(href="#")
                i.icon-compare 
              a(href="#")
                i.icon-favorite 
      .header__middle
        .container
          form(action="") 
            .search
              .search__input 
                input(type="text" placeholder="Поиск товаров")
                button(type="submit")
                  i.icon-search

      .header__bottom
        .container
          .header__nav
            mixin nav(name) 
              a(href="#")=name
            +nav('Azor Travel')
            +nav('Промо-акции')
            +nav('Бренды')
            +nav('Новинки')
            +nav('Хиты продаж')
            +nav('Товары со скидкой')     

    .bottom-indent
      .container
        .basket
          .basket__control
            .basket__control-item.basket__control-item--select
              i.icon-check
              span.t15 Выделить всё
            .basket__control-item.basket__control-item--delete
              i.icon-close
              span.t15 Удалить всё (2)
          p.t15 Населенный пункт    
          .select
            input(type="hidden" value="Бишкек").select__input
            .select__selected
              span Бишкек
              i.icon-angles
            .select__dropdown.bx-sh
              .select__option(data-val="Бишкек") Бишкек
              .select__option(data-val="Каракол") Каракол
              .select__option(data-val="Ош") Ош
              .select__option(data-val="Нарын") Нарын

          .basket__product-list 
            .basket__product-item   
              .basket__product-item-col   
                .basket__product-ckeck   
                  input(type="checkbox" id="a1") 
                .basket__product-img 
                  img(src="img/basket-product.svg", alt="")   
              .basket__product-item-col   
                .basket__product-info   
                  .basket__product-name Наименование товара  
                  .basket__product-num  SKU: 430809
                  .basket__product-appearance-wrap   
                    .basket__product-appearance Цвет:
                      span black   
                    .basket__product-appearance Размер: --   
                      .basket__product-count
                        .number
                          span.minus
                            svg(xmlns='http://www.w3.org/2000/svg' height='2' viewBox='0 0 14 2' )
                              path(d='M14 2H0V0H14V2Z')
                          input(type='text' value='1')
                          span.plus
                            svg(xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 14 14')
                              path(d='M14 8H8V14H6V8H0V6H6V0H8V6H14V8Z')
                  .basket__product-price 100.00 сом
                  .basket__product-control 
                    .basket__product-favorites 
                      i.icon-favorite
                      | Добавить в избранное
                    .basket__product-delete 
                      i.icon-close
                      | Удалить
            .basket__product-item
              .basket__product-item-col   
                .basket__product-ckeck   
                  input(type="checkbox" id="a1") 
                .basket__product-img 
                  img(src="img/basket-product.svg", alt="")   
              .basket__product-item-col   
                .basket__product-info   
                  .basket__product-name Наименование товара  
                  .basket__product-num  SKU: 430809
                  .basket__product-appearance-wrap   
                    .basket__product-appearance Цвет:
                      span black   
                    .basket__product-appearance Размер: --   
                      .basket__product-count
                        .number
                          span.minus
                            svg(xmlns='http://www.w3.org/2000/svg' height='2' viewBox='0 0 14 2' )
                              path(d='M14 2H0V0H14V2Z')
                          input(type='text' value='1')
                          span.plus
                            svg(xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 14 14')
                              path(d='M14 8H8V14H6V8H0V6H6V0H8V6H14V8Z')
                  .basket__product-price 100.00 сом
                  .basket__product-control 
                    .basket__product-favorites 
                      i.icon-favorite
                      | Добавить в избранное
                    .basket__product-delete 
                      i.icon-close
                      | Удалить
          .basket__total.bx-sh
            .basket__total-item
              .basket__total-lg Итого:
              .basket__total-lg 100.00 сом
            .basket__total-item
              .basket__total-sm 2 товара: менее 1кг
              .basket__total-sm 100.00 сом
            .input
              input(type="text" placeholder="Промо-код:")
          button(type="submit").btn.btn--dark Оформить заказ
          a(href="#").credit.bx-sh В кредит или рассрочку
            span BANK 



    script(src="https://code.jquery.com/jquery-3.6.0.min.js") 
    script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js") 
    script(src="scripts.js") 

basket.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>basket</title><link rel="stylesheet" href="styles.css"><link rel="stylesheet" href="icon/fontello/css/icon.css"><link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;display=swap" rel="stylesheet"><link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"></head><body><div class="panel-control"><a class="active panel-control__item" href="#"> <div class="panel-control__icon"><i class="icon-home"></i></div><div class="panel-control__title">Главная</div></a><a class="panel-control__item" href="#"> <div class="panel-control__icon"><i class="icon-catalog"></i></div><div class="panel-control__title">Каталог</div></a><a class="panel-control__item" href="#"><div class="panel-control__icon"><div class="panel-control__alert">new</div><i class="icon-products"></i></div><div class="panel-control__title">Продукты</div></a><a class="panel-control__item" href="#"> <div class="panel-control__icon"><i class="icon-basket"></i></div><div class="panel-control__title">Корзина</div></a><a class="panel-control__item" href="#"> <div class="panel-control__icon"><i class="icon-profile"></i></div><div class="panel-control__title">Профиль</div></a></div><div class="menu"><div class="menu__close"> <i class="icon-close"></i></div><div class="menu__item-block"> <div class="title">Моя учетная запись</div><ul><li> <a href="#">Заказы</a></li><li> <a href="#">Учетная запись</a></li><li> <a href="#">О нас</a></li><li> <a href="#">Обратная связь</a></li><li> <a href="#">Подарочные сертификаты</a></li><li> <a href="#">Торговые марки</a></li><li> <a href="#">Карта сайта</a></li><li> <a href="#">Блог</a></li></ul></div><div class="menu__item-block"> <div class="title">Покупательский сервис</div><ul><li> <a href="#">Ваши заказы</a></li><li> <a href="#">Отложенные</a></li><li> <a href="#">Список сравнения</a></li></ul></div><div class="menu__item-block"> <div class="title">Контакты</div><ul><li>г. Бишкек, ул. Уметалиева 127</li><li> <a href="#">+996(550) 050-060 (звонок бесплатный)</a></li><li> <a href="#">+996(701) 050-060</a></li><li> <a href="#">+996(778) 050-060</a></li><li>Пн-Вс 9.00 - 18.00</li><li> <a href="#">info@azor.kg</a></li><li> <a href="#">Посмотреть на карте</a></li></ul></div><div class="menu__item-block menu__item-block--social"> <div class="title">Присоединяйтесь</div><div class="social"> <ul> <li> <a href="#"><img src="icon/tg.svg" alt=""></a></li><li> <a href="#"><img src="icon/wa.svg" alt=""></a></li><li> <a href="#"><img src="icon/in.svg" alt=""></a></li><li> <a href="#"><img src="icon/fb.svg" alt=""></a></li><li> <a href="#"><img src="icon/yt.svg" alt=""></a></li></ul></div></div><div class="menu__item-block"> <div class="title">Оставайтесь на связи</div><p>Подпишитесь на нашу рассылку и получите купон на 10% скидку!<form action=""><div class="subscribe"><input type="text" placeholder="email"><button class="btn btn--orange">подписаться </button></div></form></p></div></div><header class="header"> <div class="header__top"><div class="container header__top-wrap"> <div class="header__col"><div class="hamburger"> </div><a class="logo" href="#"><img src="img/logo.svg" alt=""></a></div><div class="header__col"><div class="header__control"> <a href="#"><i class="icon-compare"> </i></a><a href="#"><i class="icon-favorite"> </i></a></div></div></div></div><div class="header__middle"><div class="container"><form action=""> <div class="search"><div class="search__input"> <input type="text" placeholder="Поиск товаров"><button type="submit"><i class="icon-search"></i></button></div></div></form></div></div><div class="header__bottom"><div class="container"><div class="header__nav"><a href="#">Azor Travel</a><a href="#">Промо-акции</a><a href="#">Бренды</a><a href="#">Новинки</a><a href="#">Хиты продаж</a><a href="#">Товары со скидкой</a></div></div></div></header><div class="bottom-indent"><div class="container"><div class="basket"><div class="basket__control"><div class="basket__control-item basket__control-item--select"><i class="icon-check"></i><span class="t15">Выделить всё</span></div><div class="basket__control-item basket__control-item--delete"><i class="icon-close"></i><span class="t15">Удалить всё (2)</span></div></div><p class="t15">Населенный пункт    </p><div class="select"><input class="select__input" type="hidden" value="Бишкек"><div class="select__selected"><span>Бишкек</span><i class="icon-angles"></i></div><div class="select__dropdown bx-sh"><div class="select__option" data-val="Бишкек">Бишкек</div><div class="select__option" data-val="Каракол">Каракол</div><div class="select__option" data-val="Ош">Ош</div><div class="select__option" data-val="Нарын">Нарын</div></div></div><div class="basket__product-list"> <div class="basket__product-item">  <div class="basket__product-item-col">  <div class="basket__product-ckeck">  <input type="checkbox" id="a1"></div><div class="basket__product-img"> <img src="img/basket-product.svg" alt=""></div></div><div class="basket__product-item-col">  <div class="basket__product-info">  <div class="basket__product-name">Наименование товара  </div><div class="basket__product-num"> SKU: 430809</div><div class="basket__product-appearance-wrap">  <div class="basket__product-appearance">Цвет:<span>black   </span></div><div class="basket__product-appearance">Размер: --   <div class="basket__product-count"><div class="number"><span class="minus"><svg xmlns="http://www.w3.org/2000/svg" height="2" viewBox="0 0 14 2"><path d="M14 2H0V0H14V2Z"></path></svg></span><input type="text" value="1"><span class="plus"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M14 8H8V14H6V8H0V6H6V0H8V6H14V8Z"></path></svg></span></div></div></div></div><div class="basket__product-price">100.00 сом</div><div class="basket__product-control"> <div class="basket__product-favorites"> <i class="icon-favorite"></i>Добавить в избранное</div><div class="basket__product-delete"> <i class="icon-close"></i>Удалить</div></div></div></div></div><div class="basket__product-item"><div class="basket__product-item-col">  <div class="basket__product-ckeck">  <input type="checkbox" id="a1"></div><div class="basket__product-img"> <img src="img/basket-product.svg" alt=""></div></div><div class="basket__product-item-col">  <div class="basket__product-info">  <div class="basket__product-name">Наименование товара  </div><div class="basket__product-num"> SKU: 430809</div><div class="basket__product-appearance-wrap">  <div class="basket__product-appearance">Цвет:<span>black   </span></div><div class="basket__product-appearance">Размер: --   <div class="basket__product-count"><div class="number"><span class="minus"><svg xmlns="http://www.w3.org/2000/svg" height="2" viewBox="0 0 14 2"><path d="M14 2H0V0H14V2Z"></path></svg></span><input type="text" value="1"><span class="plus"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M14 8H8V14H6V8H0V6H6V0H8V6H14V8Z"></path></svg></span></div></div></div></div><div class="basket__product-price">100.00 сом</div><div class="basket__product-control"> <div class="basket__product-favorites"> <i class="icon-favorite"></i>Добавить в избранное</div><div class="basket__product-delete"> <i class="icon-close"></i>Удалить</div></div></div></div></div></div><div class="basket__total bx-sh"><div class="basket__total-item"><div class="basket__total-lg">Итого:</div><div class="basket__total-lg">100.00 сом</div></div><div class="basket__total-item"><div class="basket__total-sm">2 товара: менее 1кг</div><div class="basket__total-sm">100.00 сом</div></div><div class="input"><input type="text" placeholder="Промо-код:"></div></div><button class="btn btn--dark" type="submit">Оформить заказ</button><a class="credit bx-sh" href="#">В кредит или рассрочку<span>BANK </span></a></div></div></div><script src="https://code.jquery.com/jquery-3.6.0.min.js"> </script><script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"> </script><script src="scripts.js"> </script></body></html>
