catalog.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>catalog</title><link rel="stylesheet" href="styles.css"><link rel="stylesheet" href="icon/fontello/css/icon.css"><link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;display=swap" rel="stylesheet"><link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"></head><body><div class="panel-control"><a class="active panel-control__item" href="#"> <div class="panel-control__icon"><i class="icon-home"></i></div><div class="panel-control__title">Главная</div></a><a class="panel-control__item" href="#"> <div class="panel-control__icon"><i class="icon-catalog"></i></div><div class="panel-control__title">Каталог</div></a><a class="panel-control__item" href="#"><div class="panel-control__icon"><div class="panel-control__alert">new</div><i class="icon-products"></i></div><div class="panel-control__title">Продукты</div></a><a class="panel-control__item" href="#"> <div class="panel-control__icon"><i class="icon-basket"></i></div><div class="panel-control__title">Корзина</div></a><a class="panel-control__item" href="#"> <div class="panel-control__icon"><i class="icon-profile"></i></div><div class="panel-control__title">Профиль</div></a></div><div class="menu"><div class="menu__close"> <i class="icon-close"></i></div><div class="menu__item-block"> <div class="title">Моя учетная запись</div><ul><li> <a href="#">Заказы</a></li><li> <a href="#">Учетная запись</a></li><li> <a href="#">О нас</a></li><li> <a href="#">Обратная связь</a></li><li> <a href="#">Подарочные сертификаты</a></li><li> <a href="#">Торговые марки</a></li><li> <a href="#">Карта сайта</a></li><li> <a href="#">Блог</a></li></ul></div><div class="menu__item-block"> <div class="title">Покупательский сервис</div><ul><li> <a href="#">Ваши заказы</a></li><li> <a href="#">Отложенные</a></li><li> <a href="#">Список сравнения</a></li></ul></div><div class="menu__item-block"> <div class="title">Контакты</div><ul><li>г. Бишкек, ул. Уметалиева 127</li><li> <a href="#">+996(550) 050-060 (звонок бесплатный)</a></li><li> <a href="#">+996(701) 050-060</a></li><li> <a href="#">+996(778) 050-060</a></li><li>Пн-Вс 9.00 - 18.00</li><li> <a href="#">info@azor.kg</a></li><li> <a href="#">Посмотреть на карте</a></li></ul></div><div class="menu__item-block menu__item-block--social"> <div class="title">Присоединяйтесь</div><div class="social"> <ul> <li> <a href="#"><img src="icon/tg.svg" alt=""></a></li><li> <a href="#"><img src="icon/wa.svg" alt=""></a></li><li> <a href="#"><img src="icon/in.svg" alt=""></a></li><li> <a href="#"><img src="icon/fb.svg" alt=""></a></li><li> <a href="#"><img src="icon/yt.svg" alt=""></a></li></ul></div></div><div class="menu__item-block"> <div class="title">Оставайтесь на связи</div><p>Подпишитесь на нашу рассылку и получите купон на 10% скидку!<form action=""><div class="subscribe"><input type="text" placeholder="email"><button class="btn btn--orange">подписаться </button></div></form></p></div></div><header class="header"> <div class="header__top"><div class="container header__top-wrap"> <div class="header__col"><div class="hamburger"> </div><a class="logo" href="#"><img src="img/logo.svg" alt=""></a></div><div class="header__col"><div class="header__control"> <a href="#"><i class="icon-compare"> </i></a><a href="#"><i class="icon-favorite"> </i></a></div></div></div></div><div class="header__middle"><div class="container"><form action=""> <div class="search"><div class="search__input"> <input type="text" placeholder="Поиск товаров"><button type="submit"><i class="icon-search"></i></button></div></div></form></div></div><div class="header__bottom"><div class="container"><div class="header__nav"><a href="#">Azor Travel</a><a href="#">Промо-акции</a><a href="#">Бренды</a><a href="#">Новинки</a><a href="#">Хиты продаж</a><a href="#">Товары со скидкой</a></div></div></div></header><div class="bottom-indent"><div class="container"><div class="breadcrumbs"> <ul> <li> <a href="#">Красота и уход</a></li><li> <a href="#">Макияж</a></li><li>Макияж глаз</li></ul></div><div class="catalog"><div class="title title--lg">Макияж глаз<div class="filter">  <i class="icon-filter"></i></div></div><div class="catalog__list"><div class="card bs"><div class="card__img detail-js"><img src="img/card.svg" alt=""></div><div class="card__name detail-js">iPhone 13 Pro Max, 1 TБ, Графитовый</div><div class="card__price">1000.00 сом</div><button class="btn btn--dark">в корзину  </button></div><div class="card bs"><div class="card__img detail-js"><img src="img/card.svg" alt=""></div><div class="card__name detail-js">iPhone 13 Pro Max, 1 TБ, Графитовый</div><div class="card__price">1000.00 сом</div><button class="btn btn--dark">в корзину  </button></div><div class="card bs"><div class="card__img detail-js"><img src="img/card.svg" alt=""></div><div class="card__name detail-js">iPhone 13 Pro Max, 1 TБ, Графитовый</div><div class="card__price">1000.00 сом</div><button class="btn btn--dark">в корзину  </button></div><div class="card bs"><div class="card__img detail-js"><img src="img/card.svg" alt=""></div><div class="card__name detail-js">iPhone 13 Pro Max, 1 TБ, Графитовый</div><div class="card__price">1000.00 сом</div><button class="btn btn--dark">в корзину  </button></div><div class="card bs"><div class="card__img detail-js"><img src="img/card.svg" alt=""></div><div class="card__name detail-js">iPhone 13 Pro Max, 1 TБ, Графитовый</div><div class="card__price">1000.00 сом</div><button class="btn btn--dark">в корзину  </button></div><div class="card bs"><div class="card__img detail-js"><img src="img/card.svg" alt=""></div><div class="card__name detail-js">iPhone 13 Pro Max, 1 TБ, Графитовый</div><div class="card__price">1000.00 сом</div><button class="btn btn--dark">в корзину  </button></div></div></div></div></div><div class="product-detail"><div class="container"> <div class="product-detail__control"> <div class="product-detail__item"> <div class="product-detail__close"> <i class="icon-close"></i></div></div><div class="product-detail__item"><div class="product-detail__compare"> <i class="icon-compare"></i></div><div class="product-detail__favorite"> <i class="icon-favorite"></i></div></div></div><div class="product-detail__img"> <img src="img/product-detail.svg" alt=""></div><div class="product-detail__name">Очень длинное название товара</div><div class="product-detail__rating"><div class="rating-area"><input id="star-5" type="radio" name="rating" value="5"><label for="star-5"></label><input id="star-4" type="radio" name="rating" value="4"><label for="star-4"></label><input id="star-3" type="radio" name="rating" value="3"><label for="star-3"></label><input id="star-2" type="radio" name="rating" value="2"><label for="star-2"></label><input id="star-1" type="radio" name="rating" value="1"><label for="star-1"></label></div><div class="product-detail__reviews-count">28 отзывов</div></div><div class="product-detail__interesting-count">123 человек интересовались за 2 месяца</div><div class="product-detail__preice">1000.00 сом</div><div class="product-detail__desc"><div class="title">Описание и характеристики</div><p>Очень длинное описание товара</p><div class="product-detail__desc-item-wrap"><div class="product-detail__desc-item"> <span>Цвет</span><span>Розовый</span></div><div class="product-detail__desc-item"> <span>Размер</span><span>30/50см</span></div><div class="product-detail__desc-item"> <span>Материал</span><span>Плюшевый</span></div><div class="product-detail__desc-item"> <span>Фирма</span><span>Игрушечная</span></div></div><div class="title">Другие товары</div></div><div class="product-detail__similar container"><a href="#">Все товары категории “Мягкие игрушки” </a></div><button class="btn btn--dark">в корзину</button><div class="reviews"><div class="title">Отзывы</div><div class="reviews__reviewer"><div class="reviews__reviewer-avatar"><img src="img/avatar.svg" alt=""></div><div class="reviews__reviewer-info"> <div class="reviews__reviewer-name">Имя Фамилия</div><div class="reviews__review-date">21 апреля</div></div></div><div class="reviews__review"><div class="title">Опыт использования</div><p>Несколько месяцев</p></div><div class="reviews__review"><div class="title">Достоинства</div><p>Мягкий мишка, хорошая игрушка</p></div><div class="reviews__review"><div class="title">Недостатки</div><p>Нет</p></div><div class="reviews__review-control"> <div class="reviews__review-reply"><button> <i class="icon-reply"></i>Ответить</button></div><div class="reviews__review-like"><button> <i class="icon-like"></i>1</button></div><div class="reviews__review-dislike"><button> <i class="icon-like"></i>0</button></div></div></div><div class="view"><div class="title">С этим товаром смотрят</div><div class="swiper view-slider"><div class="swiper-wrapper"><div class="swiper-slide"><a class="view__item" href="#"><div class="view__img"><img src="img/viewed.svg" alt=""></div><div class="view__name">iPhone 13 Pro Max, 1 TБ, Графитовый</div><div class="view__price">1000.00 сом</div></a></div><div class="swiper-slide"><a class="view__item" href="#"><div class="view__img"><img src="img/viewed.svg" alt=""></div><div class="view__name">iPhone 13 Pro Max, 1 TБ, Графитовый</div><div class="view__price">1000.00 сом</div></a></div><div class="swiper-slide"><a class="view__item" href="#"><div class="view__img"><img src="img/viewed.svg" alt=""></div><div class="view__name">iPhone 13 Pro Max, 1 TБ, Графитовый</div><div class="view__price">1000.00 сом</div></a></div><div class="swiper-slide"><a class="view__item" href="#"><div class="view__img"><img src="img/viewed.svg" alt=""></div><div class="view__name">iPhone 13 Pro Max, 1 TБ, Графитовый</div><div class="view__price">1000.00 сом</div></a></div><div class="swiper-slide"><a class="view__item" href="#"><div class="view__img"><img src="img/viewed.svg" alt=""></div><div class="view__name">iPhone 13 Pro Max, 1 TБ, Графитовый</div><div class="view__price">1000.00 сом</div></a></div><div class="swiper-slide"><a class="view__item" href="#"><div class="view__img"><img src="img/viewed.svg" alt=""></div><div class="view__name">iPhone 13 Pro Max, 1 TБ, Графитовый</div><div class="view__price">1000.00 сом</div></a></div><div class="swiper-slide"><a class="view__item" href="#"><div class="view__img"><img src="img/viewed.svg" alt=""></div><div class="view__name">iPhone 13 Pro Max, 1 TБ, Графитовый</div><div class="view__price">1000.00 сом</div></a></div><div class="swiper-slide"><a class="view__item" href="#"><div class="view__img"><img src="img/viewed.svg" alt=""></div><div class="view__name">iPhone 13 Pro Max, 1 TБ, Графитовый</div><div class="view__price">1000.00 сом</div></a></div><div class="swiper-slide"><a class="view__item" href="#"><div class="view__img"><img src="img/viewed.svg" alt=""></div><div class="view__name">iPhone 13 Pro Max, 1 TБ, Графитовый</div><div class="view__price">1000.00 сом</div></a></div></div></div></div></div></div><script src="https://code.jquery.com/jquery-3.6.0.min.js"> </script><script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"> </script><script src="scripts.js"> </script></body></html>

catalog.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title catalog
    link(rel="stylesheet", href="styles.css")
    link(rel="stylesheet", href="icon/fontello/css/icon.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
  body
    .panel-control
      mixin controler(alert, icon, title, active)
        if alert == 'alert'
          a(href="#" class=active).panel-control__item
            .panel-control__icon
              .panel-control__alert new
              i(class=`icon-`+icon)
            .panel-control__title=title
        else  
          a(href="#" class=active).panel-control__item 
            .panel-control__icon
              i(class=`icon-`+icon)
            .panel-control__title=title  
      +controler('', 'home', 'Главная', 'active')
      +controler('', 'catalog', 'Каталог')
      +controler('alert', 'products', 'Продукты')
      +controler('', 'basket', 'Корзина')
      +controler('', 'profile', 'Профиль')

    .menu
      .menu__close 
        i.icon-close
      .menu__item-block 
        .title Моя учетная запись
        ul
          mixin item(name)
            li 
              a(href="#")=name
          +item('Заказы')     
          +item('Учетная запись')
          +item('О нас')
          +item('Обратная связь')
          +item('Подарочные сертификаты')
          +item('Торговые марки')
          +item('Карта сайта')
          +item('Блог')
      .menu__item-block 
        .title Покупательский сервис
        ul
          +item('Ваши заказы')     
          +item('Отложенные')     
          +item('Список сравнения')     
      .menu__item-block 
        .title Контакты
        ul
          li г. Бишкек, ул. Уметалиева 127
          +item('+996(550) 050-060 (звонок бесплатный)')     
          +item('+996(701) 050-060')     
          +item('+996(778) 050-060')     
          li Пн-Вс 9.00 - 18.00
          +item('info@azor.kg')     
          +item('Посмотреть на карте')  
      .menu__item-block.menu__item-block--social 
        .title Присоединяйтесь
        .social 
          ul 
            mixin social(icon) 
              li 
                a(href="#")
                  img(src=`icon/`+icon+`.svg`, alt="")
            +social('tg')       
            +social('wa')       
            +social('in')       
            +social('fb')       
            +social('yt')       
      .menu__item-block 
        .title Оставайтесь на связи
        p Подпишитесь на нашу рассылку и получите купон на 10% скидку!
          form(action="")
            .subscribe
              input(type="text" placeholder="email")
              button.btn.btn--orange подписаться 
   
    header.header 
      .header__top
        .container.header__top-wrap 
          .header__col
            .hamburger 
            a(href="#").logo
              img(src="img/logo.svg", alt="")
          .header__col
            .header__control 
              a(href="#")
                i.icon-compare 
              a(href="#")
                i.icon-favorite 
      .header__middle
        .container
          form(action="") 
            .search
              .search__input 
                input(type="text" placeholder="Поиск товаров")
                button(type="submit")
                  i.icon-search

      .header__bottom
        .container
          .header__nav
            mixin nav(name) 
              a(href="#")=name
            +nav('Azor Travel')
            +nav('Промо-акции')
            +nav('Бренды')
            +nav('Новинки')
            +nav('Хиты продаж')
            +nav('Товары со скидкой')     

    .bottom-indent
      .container
        .breadcrumbs 
          ul 
            li 
              a(href="#") Красота и уход
            li 
              a(href="#") Макияж
            li Макияж глаз
        .catalog
          .title.title--lg Макияж глаз
            .filter   
              i.icon-filter
          .catalog__list
            mixin card()
              .card.bs
                .card__img.detail-js
                  img(src="img/card.svg", alt="")
                .card__name.detail-js iPhone 13 Pro Max, 1 TБ, Графитовый
                .card__price 1000.00 сом
                button.btn.btn--dark в корзину  
            +card
            +card
            +card
            +card
            +card
            +card
    .product-detail
      .container 
        .product-detail__control 
          .product-detail__item 
            .product-detail__close 
              i.icon-close
          .product-detail__item
            .product-detail__compare 
              i.icon-compare
            .product-detail__favorite 
              i.icon-favorite
        .product-detail__img 
          img(src="img/product-detail.svg", alt="")
        .product-detail__name Очень длинное название товара
        .product-detail__rating
          .rating-area
            input#star-5(type='radio' name='rating' value='5')
            label(for='star-5')
            input#star-4(type='radio' name='rating' value='4')
            label(for='star-4')
            input#star-3(type='radio' name='rating' value='3')
            label(for='star-3')
            input#star-2(type='radio' name='rating' value='2')
            label(for='star-2')
            input#star-1(type='radio' name='rating' value='1')
            label(for='star-1')
          .product-detail__reviews-count 28 отзывов
        .product-detail__interesting-count 123 человек интересовались за 2 месяца
        .product-detail__preice 1000.00 сом
        
        .product-detail__desc
          .title Описание и характеристики
          p Очень длинное описание товара

          .product-detail__desc-item-wrap
            mixin desc(item1, item2)
              .product-detail__desc-item 
                span=item1
                span=item2
            +desc('Цвет','Розовый')
            +desc('Размер','30/50см')
            +desc('Материал','Плюшевый')
            +desc('Фирма','Игрушечная')

          .title Другие товары
        .product-detail__similar.container
          a(href="#") Все товары категории “Мягкие игрушки” 
        button.btn.btn--dark в корзину

        .reviews
          .title Отзывы
          .reviews__reviewer
            .reviews__reviewer-avatar
              img(src="img/avatar.svg", alt="")
            .reviews__reviewer-info 
              .reviews__reviewer-name Имя Фамилия
              .reviews__review-date 21 апреля
          .reviews__review
            .title Опыт использования
            p Несколько месяцев
          .reviews__review
            .title Достоинства
            p Мягкий мишка, хорошая игрушка
          .reviews__review
            .title Недостатки
            p Нет
          .reviews__review-control 
            .reviews__review-reply
              button 
                i.icon-reply
                | Ответить
            .reviews__review-like
              button 
                i.icon-like
                | 1
            .reviews__review-dislike
              button 
                i.icon-like
                | 0
        .view
          .title С этим товаром смотрят
          .swiper.view-slider
            .swiper-wrapper
              mixin view()
                .swiper-slide
                  a(href="#").view__item
                    .view__img
                      img(src='img/viewed.svg', alt="")
                    .view__name iPhone 13 Pro Max, 1 TБ, Графитовый
                    .view__price 1000.00 сом
              +view
              +view
              +view
              +view
              +view
              +view
              +view
              +view
              +view
         


    script(src="https://code.jquery.com/jquery-3.6.0.min.js") 
    script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js") 
    script(src="scripts.js") 
