index.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>main</title><link rel="stylesheet" href="styles.css"><link rel="stylesheet" href="icon/fontello/css/icon.css"><link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;display=swap" rel="stylesheet"><link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"></head><body><div class="panel-control"><a class="active panel-control__item" href="#"> <div class="panel-control__icon"><i class="icon-home"></i></div><div class="panel-control__title">Главная</div></a><a class="panel-control__item" href="#"> <div class="panel-control__icon"><i class="icon-catalog"></i></div><div class="panel-control__title">Каталог</div></a><a class="panel-control__item" href="#"><div class="panel-control__icon"><div class="panel-control__alert">new</div><i class="icon-products"></i></div><div class="panel-control__title">Продукты</div></a><a class="panel-control__item" href="#"> <div class="panel-control__icon"><i class="icon-basket"></i></div><div class="panel-control__title">Корзина</div></a><a class="panel-control__item" href="#"> <div class="panel-control__icon"><i class="icon-profile"></i></div><div class="panel-control__title">Профиль</div></a></div><div class="menu"><div class="menu__close"> <i class="icon-close"></i></div><div class="menu__item-block"> <div class="title">Моя учетная запись</div><ul><li> <a href="#">Заказы</a></li><li> <a href="#">Учетная запись</a></li><li> <a href="#">О нас</a></li><li> <a href="#">Обратная связь</a></li><li> <a href="#">Подарочные сертификаты</a></li><li> <a href="#">Торговые марки</a></li><li> <a href="#">Карта сайта</a></li><li> <a href="#">Блог</a></li></ul></div><div class="menu__item-block"> <div class="title">Покупательский сервис</div><ul><li> <a href="#">Ваши заказы</a></li><li> <a href="#">Отложенные</a></li><li> <a href="#">Список сравнения</a></li></ul></div><div class="menu__item-block"> <div class="title">Контакты</div><ul><li>г. Бишкек, ул. Уметалиева 127</li><li> <a href="#">+996(550) 050-060 (звонок бесплатный)</a></li><li> <a href="#">+996(701) 050-060</a></li><li> <a href="#">+996(778) 050-060</a></li><li>Пн-Вс 9.00 - 18.00</li><li> <a href="#">info@azor.kg</a></li><li> <a href="#">Посмотреть на карте</a></li></ul></div><div class="menu__item-block menu__item-block--social"> <div class="title">Присоединяйтесь</div><div class="social"> <ul> <li> <a href="#"><img src="icon/tg.svg" alt=""></a></li><li> <a href="#"><img src="icon/wa.svg" alt=""></a></li><li> <a href="#"><img src="icon/in.svg" alt=""></a></li><li> <a href="#"><img src="icon/fb.svg" alt=""></a></li><li> <a href="#"><img src="icon/yt.svg" alt=""></a></li></ul></div></div><div class="menu__item-block"> <div class="title">Оставайтесь на связи</div><p>Подпишитесь на нашу рассылку и получите купон на 10% скидку!<form action=""><div class="subscribe"><input type="text" placeholder="email"><button class="btn btn--orange">подписаться </button></div></form></p></div></div><header class="header"><div class="header__top"><div class="container header__top-wrap"> <div class="header__col"><div class="hamburger"> </div><a class="logo" href="#"> <img src="img/logo.svg" alt=""></a></div><div class="header__col"><div class="header__control"> <a href="#"><i class="icon-compare"> </i></a><a href="#"><i class="icon-favorite"> </i></a></div></div></div></div><div class="header__middle"><div class="container"><form action=""> <div class="search"><div class="search__input"> <input type="text" placeholder="Поиск товаров"><button type="submit"><i class="icon-search"></i></button></div></div></form></div></div><div class="header__bottom"><div class="container"><div class="header__nav"><a href="#">Azor Travel</a><a href="#">Промо-акции</a><a href="#">Бренды</a><a href="#">Новинки</a><a href="#">Хиты продаж</a><a href="#">Товары со скидкой</a></div></div></div></header><div class="main-banner"><div class="swiper main-banner"> <div class="swiper-wrapper"><div class="swiper-slide"><div class="main-banner__item" style="background-image: url('img/banner.jpg')"><div class="main-banner__col-wrap"><div class="main-banner__col"><div class="main-banner__img"><img src="img/banner-img.png" alt=""></div></div><div class="main-banner__col"><div class="main-banner__title"><p>Встречайте, <br> <span>iPhone 13 Pro Max</span> <br> с технологией ProMotion</p></div><a class="btn" href="#">перейти в каталог</a></div></div></div></div><div class="swiper-slide"><div class="main-banner__item" style="background-image: url('img/banner.jpg')"><div class="main-banner__col-wrap"><div class="main-banner__col"><div class="main-banner__img"><img src="img/banner-img.png" alt=""></div></div><div class="main-banner__col"><div class="main-banner__title"><p>Встречайте, <br> <span>iPhone 492 Pro Max</span> <br> с технологией ProMotion</p></div><a class="btn" href="#">перейти в каталог</a></div></div></div></div><div class="swiper-slide"><div class="main-banner__item" style="background-image: url('img/banner.jpg')"><div class="main-banner__col-wrap"><div class="main-banner__col"><div class="main-banner__img"><img src="img/banner-img.png" alt=""></div></div><div class="main-banner__col"><div class="main-banner__title"><p>Встречайте, <br> <span>iPhone 572 Pro Max</span> <br> с технологией ProMotion</p></div><a class="btn" href="#">перейти в каталог</a></div></div></div></div></div></div></div><div class="translateY-container bottom-indent"><div class="brands"><div class="container"><div class="swiper brands-slider"> <div class="swiper-wrapper"><div class="swiper-slide"><a class="brands__item" href="#"><div class="brands__img"><img src="img/brand1.png" alt=""></div></a></div><div class="swiper-slide"><a class="brands__item" href="#"><div class="brands__img"><img src="img/brand2.png" alt=""></div></a></div><div class="swiper-slide"><a class="brands__item" href="#"><div class="brands__img"><img src="img/brand3.png" alt=""></div></a></div><div class="swiper-slide"><a class="brands__item" href="#"><div class="brands__img"><img src="img/brand2.png" alt=""></div></a></div><div class="swiper-slide"><a class="brands__item" href="#"><div class="brands__img"><img src="img/brand4.png" alt=""></div></a></div><div class="swiper-slide"><a class="brands__item" href="#"><div class="brands__img"><img src="img/brand3.png" alt=""></div></a></div><div class="swiper-slide"><a class="brands__item" href="#"><div class="brands__img"><img src="img/brand5.png" alt=""></div></a></div><div class="swiper-slide"><a class="brands__item" href="#"><div class="brands__img"><img src="img/brand2.png" alt=""></div></a></div><div class="swiper-slide"><a class="brands__item" href="#"><div class="brands__img"><img src="img/brand4.png" alt=""></div></a></div><div class="swiper-slide"><a class="brands__item" href="#"><div class="brands__img"><img src="img/brand5.png" alt=""></div></a></div></div></div></div></div><div class="adv"><div class="container"><div class="adv__col-wrap"><div class="adv__col"><div class="swiper adv-slider1" dir="rtl"><div class="swiper-wrapper"><div class="swiper-slide"><a class="adv__item" href="#" style="background-image: url('img/adv1.jpg')"><div class="adv__title">Canon EOS 5D Mark IV</div><div class="adv__subtitle">Исключительное качество <br> изображения.</div></a></div><div class="swiper-slide"><a class="adv__item" href="#" style="background-image: url('img/adv2.jpg')"><div class="adv__title">Apple Watch <br> Nike+</div><div class="adv__subtitle">Подключайтесь через спорт</div></a></div></div></div></div><div class="adv__col"><div class="swiper adv-slider2"><div class="swiper-wrapper"><div class="swiper-slide"><a class="adv__item" href="#" style="background-image: url('img/adv2.jpg')"><div class="adv__title">Apple Watch <br> Nike+</div><div class="adv__subtitle">Подключайтесь через спорт</div></a></div><div class="swiper-slide"><a class="adv__item" href="#" style="background-image: url('img/adv1.jpg')"><div class="adv__title">Canon EOS 5D Mark IV</div><div class="adv__subtitle">Исключительное качество <br> изображения.</div></a></div></div></div></div></div><div class="title title--dark title--sm">Хит продаж</div><div class="swiper double-slider-js"><div class="swiper-wrapper"><div class="swiper-slide"><div class="card bs"><div class="card__img detail-js"><img src="img/card.svg" alt=""></div><div class="card__name detail-js">iPhone 13 Pro Max, 1 TБ, Графитовый</div><div class="card__price">1000.00 сом</div><button class="btn btn--dark">в корзину</button></div></div><div class="swiper-slide"><div class="card bs"><div class="card__img detail-js"><img src="img/card.svg" alt=""></div><div class="card__name detail-js">iPhone 13 Pro Max, 1 TБ, Графитовый</div><div class="card__price">1000.00 сом</div><button class="btn btn--dark">в корзину</button></div></div><div class="swiper-slide"><div class="card bs"><div class="card__img detail-js"><img src="img/card.svg" alt=""></div><div class="card__name detail-js">iPhone 13 Pro Max, 1 TБ, Графитовый</div><div class="card__price">1000.00 сом</div><button class="btn btn--dark">в корзину</button></div></div><div class="swiper-slide"><div class="card bs"><div class="card__img detail-js"><img src="img/card.svg" alt=""></div><div class="card__name detail-js">iPhone 13 Pro Max, 1 TБ, Графитовый</div><div class="card__price">1000.00 сом</div><button class="btn btn--dark">в корзину</button></div></div><div class="swiper-slide"><div class="card bs"><div class="card__img detail-js"><img src="img/card.svg" alt=""></div><div class="card__name detail-js">iPhone 13 Pro Max, 1 TБ, Графитовый</div><div class="card__price">1000.00 сом</div><button class="btn btn--dark">в корзину</button></div></div><div class="swiper-slide"><div class="card bs"><div class="card__img detail-js"><img src="img/card.svg" alt=""></div><div class="card__name detail-js">iPhone 13 Pro Max, 1 TБ, Графитовый</div><div class="card__price">1000.00 сом</div><button class="btn btn--dark">в корзину</button></div></div><div class="swiper-slide"><div class="card bs"><div class="card__img detail-js"><img src="img/card.svg" alt=""></div><div class="card__name detail-js">iPhone 13 Pro Max, 1 TБ, Графитовый</div><div class="card__price">1000.00 сом</div><button class="btn btn--dark">в корзину</button></div></div><div class="swiper-slide"><div class="card bs"><div class="card__img detail-js"><img src="img/card.svg" alt=""></div><div class="card__name detail-js">iPhone 13 Pro Max, 1 TБ, Графитовый</div><div class="card__price">1000.00 сом</div><button class="btn btn--dark">в корзину</button></div></div><div class="swiper-slide"><div class="card bs"><div class="card__img detail-js"><img src="img/card.svg" alt=""></div><div class="card__name detail-js">iPhone 13 Pro Max, 1 TБ, Графитовый</div><div class="card__price">1000.00 сом</div><button class="btn btn--dark">в корзину</button></div></div></div></div><a class="banner bs-sm" href="#" style="background-image: url('img/banner10.jpg')"></a><a class="banner bs-sm" href="#" style="background-image: url('img/banner11.jpg')"></a><div class="additional-desc"><div class="additional-desc__title">Широкий ассортимент и высокое качество </div><div class="additional-desc__desc"><p>Интернет-магазин AZOR – это доступные цены, широкий, регулярно обновляемый ассортимент. В онлайн-каталоге
AZOR представлено около 5 000 ведущих брендов женской, мужской и детской одежды и обуви. Покупателям
предлагается электроника, книжная продукция, детские товары. В интернет-магазине можно приобрести
продукцию для дома, продукты питания, товары для красоты, ювелирные изделия, игрушки. Для удобства
пользования онлайн-каталог поделен на разделы, все товары можно сортировать по ряду критериев: цена,
материал изготовления, сезонность, бренд.</p></div><div class="additional-desc__more">Читать далее</div><div class="additional-desc__hide">Скрыть</div></div></div></div></div><script src="https://code.jquery.com/jquery-3.6.0.min.js"> </script><script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"> </script><script src="scripts.js"> </script><script src="https://code.jquery.com/jquery-3.6.0.min.js"> </script><script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"> </script><script src="scripts.js"> </script></body></html>

index.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title main
    link(rel="stylesheet", href="styles.css")
    link(rel="stylesheet", href="icon/fontello/css/icon.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
  body
    .panel-control
      mixin controler(alert, icon, title, active)
        if alert == 'alert'
          a(href="#" class=active).panel-control__item
            .panel-control__icon
              .panel-control__alert new
              i(class=`icon-`+icon)
            .panel-control__title=title
        else  
          a(href="#" class=active).panel-control__item 
            .panel-control__icon
              i(class=`icon-`+icon)
            .panel-control__title=title  
      +controler('', 'home', 'Главная', 'active')
      +controler('', 'catalog', 'Каталог')
      +controler('alert', 'products', 'Продукты')
      +controler('', 'basket', 'Корзина')
      +controler('', 'profile', 'Профиль')
    .menu
      .menu__close 
        i.icon-close
      .menu__item-block 
        .title Моя учетная запись
        ul
          mixin item(name)
            li 
              a(href="#")=name
          +item('Заказы')     
          +item('Учетная запись')
          +item('О нас')
          +item('Обратная связь')
          +item('Подарочные сертификаты')
          +item('Торговые марки')
          +item('Карта сайта')
          +item('Блог')
      .menu__item-block 
        .title Покупательский сервис
        ul
          +item('Ваши заказы')     
          +item('Отложенные')     
          +item('Список сравнения')     
      .menu__item-block 
        .title Контакты
        ul
          li г. Бишкек, ул. Уметалиева 127
          +item('+996(550) 050-060 (звонок бесплатный)')     
          +item('+996(701) 050-060')     
          +item('+996(778) 050-060')     
          li Пн-Вс 9.00 - 18.00
          +item('info@azor.kg')     
          +item('Посмотреть на карте')  
      .menu__item-block.menu__item-block--social 
        .title Присоединяйтесь
        .social 
          ul 
            mixin social(icon) 
              li 
                a(href="#")
                  img(src=`icon/`+icon+`.svg`, alt="")
            +social('tg')       
            +social('wa')       
            +social('in')       
            +social('fb')       
            +social('yt')       
      .menu__item-block 
        .title Оставайтесь на связи
        p Подпишитесь на нашу рассылку и получите купон на 10% скидку!
          form(action="")
            .subscribe
              input(type="text" placeholder="email")
              button.btn.btn--orange подписаться 
   
    header.header
      .header__top
        .container.header__top-wrap 
          .header__col
            .hamburger 
            a(href="#").logo 
              img(src="img/logo.svg", alt="")
          .header__col
            .header__control 
              a(href="#")
                i.icon-compare 
              a(href="#")
                i.icon-favorite 
      .header__middle
        .container
          form(action="") 
            .search
              .search__input 
                input(type="text" placeholder="Поиск товаров")
                button(type="submit")
                  i.icon-search

      .header__bottom
        .container
          .header__nav
            mixin nav(name) 
              a(href="#")=name
            +nav('Azor Travel')
            +nav('Промо-акции')
            +nav('Бренды')
            +nav('Новинки')
            +nav('Хиты продаж')
            +nav('Товары со скидкой')     

    .main-banner
      .swiper.main-banner 
        .swiper-wrapper
          mixin banner(title)
            .swiper-slide
              .main-banner__item(style="background-image: url('img/banner.jpg')")
                .main-banner__col-wrap
                  .main-banner__col
                    .main-banner__img
                      img(src="img/banner-img.png", alt="")
                  .main-banner__col
                    .main-banner__title!=title
                    a(href="#").btn перейти в каталог
          +banner('<p>Встречайте, <br> <span>iPhone 13 Pro Max</span> <br> с технологией ProMotion</p>')  
          +banner('<p>Встречайте, <br> <span>iPhone 492 Pro Max</span> <br> с технологией ProMotion</p>')  
          +banner('<p>Встречайте, <br> <span>iPhone 572 Pro Max</span> <br> с технологией ProMotion</p>')  
    
    .translateY-container.bottom-indent
      .brands
        .container
          .swiper.brands-slider 
            .swiper-wrapper
              mixin barnd(img)
                .swiper-slide
                  a(href="#").brands__item
                    .brands__img
                      img(src=`img/brand`+img+`.png`, alt="")
              +barnd(1)
              +barnd(2)
              +barnd(3)
              +barnd(2)
              +barnd(4)
              +barnd(3)
              +barnd(5)
              +barnd(2)
              +barnd(4)
              +barnd(5)
      .adv
        .container
          .adv__col-wrap
            .adv__col
              .swiper.adv-slider1(dir="rtl")
                .swiper-wrapper
                  mixin adv1(img,title,subtitle)
                    .swiper-slide
                      a(href="#").adv__item(style=`background-image: url('img/adv${img}.jpg')`)
                        .adv__title!=title
                        .adv__subtitle!=subtitle
                  +adv1('1','Canon EOS 5D Mark IV','Исключительное качество <br> изображения.')
                  +adv1('2','Apple Watch <br> Nike+', 'Подключайтесь через спорт')
            
            .adv__col
              .swiper.adv-slider2
                .swiper-wrapper
                  mixin adv2(img,title,subtitle)
                    .swiper-slide
                      a(href="#").adv__item(style=`background-image: url('img/adv${img}.jpg')`)
                        .adv__title!=title
                        .adv__subtitle!=subtitle
                  +adv2('2','Apple Watch <br> Nike+', 'Подключайтесь через спорт')
                  +adv2('1','Canon EOS 5D Mark IV','Исключительное качество <br> изображения.')
          .title.title--dark.title--sm Хит продаж
          .swiper.double-slider-js
            .swiper-wrapper
              mixin product()
                .swiper-slide
                  .card.bs
                    .card__img.detail-js
                      img(src="img/card.svg", alt="")
                    .card__name.detail-js iPhone 13 Pro Max, 1 TБ, Графитовый
                    .card__price 1000.00 сом
                    button.btn.btn--dark в корзину
              +product
              +product
              +product
              +product
              +product
              +product
              +product
              +product
              +product    
          a(href="#" style="background-image: url('img/banner10.jpg')").banner.bs-sm
          a(href="#" style="background-image: url('img/banner11.jpg')").banner.bs-sm

          .additional-desc
            .additional-desc__title Широкий ассортимент и высокое качество 
            .additional-desc__desc
              p
                | Интернет-магазин AZOR – это доступные цены, широкий, регулярно обновляемый ассортимент. В онлайн-каталоге
                | AZOR представлено около 5 000 ведущих брендов женской, мужской и детской одежды и обуви. Покупателям
                | предлагается электроника, книжная продукция, детские товары. В интернет-магазине можно приобрести
                | продукцию для дома, продукты питания, товары для красоты, ювелирные изделия, игрушки. Для удобства
                | пользования онлайн-каталог поделен на разделы, все товары можно сортировать по ряду критериев: цена,
                | материал изготовления, сезонность, бренд.
            .additional-desc__more Читать далее
            .additional-desc__hide Скрыть










      //- ------------ 

      //- .interest
        .container
          .interest__wrap.bs-sm
            .title Основываясь на Ваших интересах
            .swiper.interest-slider(dir="rtl")
              .swiper-wrapper
                mixin rand(img)
                  .swiper-slide
                    a(href="#").interest__item
                      img(src=`img/interest`+img+`.svg`, alt="")
                +rand('1')
                +rand('2')
                +rand('3')
                +rand('4')
                +rand('2')
                +rand('1')
                +rand('3')
                +rand('4')
                +rand('1')
                +rand('2')
                +rand('3')
      //- .offer
        .container
          .swiper.offer-slider(dir="rtl")
            .swiper-wrapper
              mixin offer(img,title)
                .swiper-slide
                  a(href="#").offer__item
                    .offer__title=title
                    .offer__img
                      img(src=`img/offer`+img+`.jpg`, alt="")
              +offer('1','Ноутбуки')
              +offer('2','Летний транспорт')
              +offer('3','Одежда по сезону')
              +offer('2','Готовимся к лету')
      //- .rand-offer
        .container
          .rand-offer__wrap.bs-sm
            .title Электроника для геймеров   
            .swiper.rand-offer-slider
              .swiper-wrapper
                mixin rand(img)
                  .swiper-slide
                    a(href="#").rand-offer__item
                      img(src=`img/el`+img+`.svg`, alt="")
                +rand('2')
                +rand('1')
                +rand('2')
                +rand('3')
      
      //- ------------
        
      
      


    script(src="https://code.jquery.com/jquery-3.6.0.min.js") 
    script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js") 
    script(src="scripts.js") 

        
      
      


    script(src="https://code.jquery.com/jquery-3.6.0.min.js") 
    script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js") 
    script(src="scripts.js") 
