login.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>login</title><link rel="stylesheet" href="styles.css"><link rel="stylesheet" href="icon/fontello/css/icon.css"><link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;display=swap" rel="stylesheet"><link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"></head><body><div class="panel-control"><a class="active panel-control__item" href="#"> <div class="panel-control__icon"><i class="icon-home"></i></div><div class="panel-control__title">Главная</div></a><a class="panel-control__item" href="#"> <div class="panel-control__icon"><i class="icon-catalog"></i></div><div class="panel-control__title">Каталог</div></a><a class="panel-control__item" href="#"><div class="panel-control__icon"><div class="panel-control__alert">new</div><i class="icon-products"></i></div><div class="panel-control__title">Продукты</div></a><a class="panel-control__item" href="#"> <div class="panel-control__icon"><i class="icon-basket"></i></div><div class="panel-control__title">Корзина</div></a><a class="panel-control__item" href="#"> <div class="panel-control__icon"><i class="icon-profile"></i></div><div class="panel-control__title">Профиль</div></a></div><div class="menu"><div class="menu__close"> <i class="icon-close"></i></div><div class="menu__item-block"> <div class="title">Моя учетная запись</div><ul><li> <a href="#">Заказы</a></li><li> <a href="#">Учетная запись</a></li><li> <a href="#">О нас</a></li><li> <a href="#">Обратная связь</a></li><li> <a href="#">Подарочные сертификаты</a></li><li> <a href="#">Торговые марки</a></li><li> <a href="#">Карта сайта</a></li><li> <a href="#">Блог</a></li></ul></div><div class="menu__item-block"> <div class="title">Покупательский сервис</div><ul><li> <a href="#">Ваши заказы</a></li><li> <a href="#">Отложенные</a></li><li> <a href="#">Список сравнения</a></li></ul></div><div class="menu__item-block"> <div class="title">Контакты</div><ul><li>г. Бишкек, ул. Уметалиева 127</li><li> <a href="#">+996(550) 050-060 (звонок бесплатный)</a></li><li> <a href="#">+996(701) 050-060</a></li><li> <a href="#">+996(778) 050-060</a></li><li>Пн-Вс 9.00 - 18.00</li><li> <a href="#">info@azor.kg</a></li><li> <a href="#">Посмотреть на карте</a></li></ul></div><div class="menu__item-block menu__item-block--social"> <div class="title">Присоединяйтесь</div><div class="social"> <ul> <li> <a href="#"><img src="icon/tg.svg" alt=""></a></li><li> <a href="#"><img src="icon/wa.svg" alt=""></a></li><li> <a href="#"><img src="icon/in.svg" alt=""></a></li><li> <a href="#"><img src="icon/fb.svg" alt=""></a></li><li> <a href="#"><img src="icon/yt.svg" alt=""></a></li></ul></div></div><div class="menu__item-block"> <div class="title">Оставайтесь на связи</div><p>Подпишитесь на нашу рассылку и получите купон на 10% скидку!<form action=""><div class="subscribe"><input type="text" placeholder="email"><button class="btn btn--orange">подписаться </button></div></form></p></div></div><header class="header"> <div class="header__top"><div class="container header__top-wrap"> <div class="header__col"><div class="hamburger"> </div><a class="logo" href="#"><img src="img/logo.svg" alt=""></a></div><div class="header__col"><div class="header__control"> <a href="#"><i class="icon-compare"> </i></a><a href="#"><i class="icon-favorite"> </i></a></div></div></div></div><div class="header__middle"><div class="container"><form action=""> <div class="search"><div class="search__input"> <input type="text" placeholder="Поиск товаров"><button type="submit"><i class="icon-search"></i></button></div></div></form></div></div><div class="header__bottom"><div class="container"><div class="header__nav"><a href="#">Azor Travel</a><a href="#">Промо-акции</a><a href="#">Бренды</a><a href="#">Новинки</a><a href="#">Хиты продаж</a><a href="#">Товары со скидкой</a></div></div></div></header><div class="bottom-indent"><div class="container"><div class="form bs-lg"><div class="title title--dark">Войти</div><form action="#"><div class="input"><label for="login">Логин</label><input type="text" name="login" id="login"></div><div class="input"><label for="pass">Пароль</label><input type="text" name="pass" id="pass"></div><div class="pass-control"><a class="link" href="#">Запомнить меня</a><a class="link" href="#">Забыли пароль?</a></div><div class="or">ИЛИ</div><div class="login-social"><a class="login-btn" href="#"> <span class="login-btn__icon"><img src="img/google.svg" alt=""></span>Продолжить с Google  </a><a class="login-btn" href="#"><span class="login-btn__icon"><img src="img/facebook.svg" alt=""></span>Продолжить с Facebook</a></div><button class="btn btn--dark" type="submit">войти</button><p class="link">Еще нет аккаунта?<a href="#">Зарегистрируйтесь! </a></p><p class="info">Преимущества зарегистрированного пользователя:  </p><ul> <li>Отслеживание заказов на персональной странице</li><li>Возможность настроить магазин под себя для более удобных покупок</li><li>Ускоренное оформление последующих заказов</li></ul></form></div></div></div><script src="https://code.jquery.com/jquery-3.6.0.min.js"> </script><script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"> </script><script src="scripts.js"></script></body></html>

login.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title login
    link(rel="stylesheet", href="styles.css")
    link(rel="stylesheet", href="icon/fontello/css/icon.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
  body
    .panel-control
      mixin controler(alert, icon, title, active)
        if alert == 'alert'
          a(href="#" class=active).panel-control__item
            .panel-control__icon
              .panel-control__alert new
              i(class=`icon-`+icon)
            .panel-control__title=title
        else  
          a(href="#" class=active).panel-control__item 
            .panel-control__icon
              i(class=`icon-`+icon)
            .panel-control__title=title  
      +controler('', 'home', 'Главная', 'active')
      +controler('', 'catalog', 'Каталог')
      +controler('alert', 'products', 'Продукты')
      +controler('', 'basket', 'Корзина')
      +controler('', 'profile', 'Профиль')

    .menu
      .menu__close 
        i.icon-close
      .menu__item-block 
        .title Моя учетная запись
        ul
          mixin item(name)
            li 
              a(href="#")=name
          +item('Заказы')     
          +item('Учетная запись')
          +item('О нас')
          +item('Обратная связь')
          +item('Подарочные сертификаты')
          +item('Торговые марки')
          +item('Карта сайта')
          +item('Блог')
      .menu__item-block 
        .title Покупательский сервис
        ul
          +item('Ваши заказы')     
          +item('Отложенные')     
          +item('Список сравнения')     
      .menu__item-block 
        .title Контакты
        ul
          li г. Бишкек, ул. Уметалиева 127
          +item('+996(550) 050-060 (звонок бесплатный)')     
          +item('+996(701) 050-060')     
          +item('+996(778) 050-060')     
          li Пн-Вс 9.00 - 18.00
          +item('info@azor.kg')     
          +item('Посмотреть на карте')  
      .menu__item-block.menu__item-block--social 
        .title Присоединяйтесь
        .social 
          ul 
            mixin social(icon) 
              li 
                a(href="#")
                  img(src=`icon/`+icon+`.svg`, alt="")
            +social('tg')       
            +social('wa')       
            +social('in')       
            +social('fb')       
            +social('yt')       
      .menu__item-block 
        .title Оставайтесь на связи
        p Подпишитесь на нашу рассылку и получите купон на 10% скидку!
          form(action="")
            .subscribe
              input(type="text" placeholder="email")
              button.btn.btn--orange подписаться 
   
    header.header 
      .header__top
        .container.header__top-wrap 
          .header__col
            .hamburger 
            a(href="#").logo
              img(src="img/logo.svg", alt="")
          .header__col
            .header__control 
              a(href="#")
                i.icon-compare 
              a(href="#")
                i.icon-favorite 
      .header__middle
        .container
          form(action="") 
            .search
              .search__input 
                input(type="text" placeholder="Поиск товаров")
                button(type="submit")
                  i.icon-search

      .header__bottom
        .container
          .header__nav
            mixin nav(name) 
              a(href="#")=name
            +nav('Azor Travel')
            +nav('Промо-акции')
            +nav('Бренды')
            +nav('Новинки')
            +nav('Хиты продаж')
            +nav('Товары со скидкой')     

    .bottom-indent
      .container
        .form.bs-lg
          .title.title--dark Войти
          form(action="#")
            mixin input(label,id)
              .input
                label(for=id)=label  
                input(type="text" name=id id=id)
            +input('Логин','login')
            +input('Пароль','pass')
            .pass-control
              a(href="#").link Запомнить меня
              a(href="#").link Забыли пароль?
            .or ИЛИ
            .login-social
              a(href="#").login-btn 
                span.login-btn__icon
                  img(src="img/google.svg", alt="")
                | Продолжить с Google  
              a(href="#").login-btn
                span.login-btn__icon
                  img(src="img/facebook.svg", alt="")
                | Продолжить с Facebook
            button(type="submit").btn.btn--dark войти
            p.link Еще нет аккаунта?
              a(href="#") Зарегистрируйтесь! 
            p.info Преимущества зарегистрированного пользователя:  
            ul  
              li Отслеживание заказов на персональной странице
              li Возможность настроить магазин под себя для более удобных покупок
              li Ускоренное оформление последующих заказов

    script(src="https://code.jquery.com/jquery-3.6.0.min.js") 
    script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js") 
    script(src="scripts.js")
