order.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title order
    link(rel="stylesheet", href="styles.css")
    link(rel="stylesheet", href="icon/fontello/css/icon.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
  body
    .panel-control
      mixin controler(alert, icon, title, active)
        if alert == 'alert'
          a(href="#" class=active).panel-control__item
            .panel-control__icon
              .panel-control__alert new
              i(class=`icon-`+icon)
            .panel-control__title=title
        else  
          a(href="#" class=active).panel-control__item 
            .panel-control__icon
              i(class=`icon-`+icon)
            .panel-control__title=title  
      +controler('', 'home', 'Главная', 'active')
      +controler('', 'catalog', 'Каталог')
      +controler('alert', 'products', 'Продукты')
      +controler('', 'basket', 'Корзина')
      +controler('', 'profile', 'Профиль')

    .menu
      .menu__close 
        i.icon-close
      .menu__item-block 
        .title Моя учетная запись
        ul
          mixin item(name)
            li 
              a(href="#")=name
          +item('Заказы')     
          +item('Учетная запись')
          +item('О нас')
          +item('Обратная связь')
          +item('Подарочные сертификаты')
          +item('Торговые марки')
          +item('Карта сайта')
          +item('Блог')
      .menu__item-block 
        .title Покупательский сервис
        ul
          +item('Ваши заказы')     
          +item('Отложенные')     
          +item('Список сравнения')     
      .menu__item-block 
        .title Контакты
        ul
          li г. Бишкек, ул. Уметалиева 127
          +item('+996(550) 050-060 (звонок бесплатный)')     
          +item('+996(701) 050-060')     
          +item('+996(778) 050-060')     
          li Пн-Вс 9.00 - 18.00
          +item('info@azor.kg')     
          +item('Посмотреть на карте')  
      .menu__item-block.menu__item-block--social 
        .title Присоединяйтесь
        .social 
          ul 
            mixin social(icon) 
              li 
                a(href="#")
                  img(src=`icon/`+icon+`.svg`, alt="")
            +social('tg')       
            +social('wa')       
            +social('in')       
            +social('fb')       
            +social('yt')       
      .menu__item-block 
        .title Оставайтесь на связи
        p Подпишитесь на нашу рассылку и получите купон на 10% скидку!
          form(action="")
            .subscribe
              input(type="text" placeholder="email")
              button.btn.btn--orange подписаться 
   
    header.header 
      .header__top
        .container.header__top-wrap 
          .header__col
            .hamburger 
            a(href="#").logo
              img(src="img/logo.svg", alt="")
          .header__col
            .header__control 
              a(href="#")
                i.icon-compare 
              a(href="#")
                i.icon-favorite 
      .header__middle
        .container
          form(action="") 
            .search
              .search__input 
                input(type="text" placeholder="Поиск товаров")
                button(type="submit")
                  i.icon-search

      .header__bottom
        .container
          .header__nav
            mixin nav(name) 
              a(href="#")=name
            +nav('Azor Travel')
            +nav('Промо-акции')
            +nav('Бренды')
            +nav('Новинки')
            +nav('Хиты продаж')
            +nav('Товары со скидкой')     

    .bottom-indent
      .container
        .basket
          .basket__control
            .basket__control-item.basket__control-item--select
              i.icon-check
              span.t15 Выделить всё
            .basket__control-item.basket__control-item--delete
              i.icon-close
              span.t15 Удалить всё (2)
          p.t15 Населенный пункт    
          .select
            input(type="hidden" value="Бишкек").select__input
            .select__selected
              span Бишкек
              i.icon-angles
            .select__dropdown.bs
              .select__option(data-val="Бишкек") Бишкек
              .select__option(data-val="Каракол") Каракол
              .select__option(data-val="Ош") Ош
              .select__option(data-val="Нарын") Нарын

          .tab
            .title.title--ttu  Выберите способ доставки    
            ul.tabs 
              li
                .bt
                  .rb
                  span Доставить к пункту выдачи   
              li
                .bt
                  .rb
                  span Доставить курьером
              li
                .bt
                  .rb
                  span
                    svg(xmlns='http://www.w3.org/2000/svg' width='14' height='13' viewBox='0 0 14 13' fill='none')
                      path(d='M7 10.5134L11.12 13L10.0267 8.31337L13.6667 5.16004L8.87333 4.75337L7 0.333374L5.12666 4.75337L0.333328 5.16004L3.97333 8.31337L2.88 13L7 10.5134Z' fill='#FFCD00')
                    | Express доставка
            
            .tab_content
              .tabs_item
                .title.title--ttu  Выберите пункт выдачи
                .select.select--bs.bx-sh
                  input(type="hidden" value="г. Бишкек, Уметалиев, 127 (Головной офис) ").select__input
                  .select__selected
                    span г. Бишкек, Уметалиев, 127 (Головной офис) 
                    i.icon-angle
                  .select__dropdown.bx-sh
                    .select__option(data-val="г. Бишкек, Уметалиев, 127 (Головной офис)") г. Бишкек, Уметалиев, 127 (Головной офис) 
                    .select__option(data-val="г. Каракол, ул. Гагарина 87") г. Каракол, ул. Гагарина 87
                    .select__option(data-val="г. Ош, ул. Гагарина 87") г. Ош, ул. Гагарина 87
                    .select__option(data-val="г. Нарын, ул. Гагарина 87") г. Нарын, ул. Гагарина 87
              
              .tabs_item
                .title.title--ttu Укажите адрес
                .input 
                  input(type="text" name="сourier_delivery" placeholder="Ваш адрес")

              .tabs_item
                .title.title--ttu Укажите адрес
                .input 
                  input(type="text" name="сourier_delivery_express" placeholder="Ваш адрес")
              p.work-time Режим работы: 9:00 - 18:00            

          .order__recipient-information
            .title.title--ttu Данные получателя
            mixin input(label, id, name, pl)
              .input
                label(for=id)!=label
                input(type="text" name=name id=id placeholder=pl)
            +input('ИМЯ<span>*</span>','name', 'имя', 'Ваше имя')
            +input('Email','email', 'email', 'Электронная почта')
            +input('Телефон<span>*</span>','phone', 'телефон', 'Номер телефона')
          
          .title.title--ttu Способ оплаты
          .order__pay-method
            .order__pay-method-item.bx-sh
              .order__pay-method-name
                .order__pay-method-icon
                  i.icon-pay1
                |Наличными   

            .order__pay-method-item.bx-sh
              .order__pay-method-name
                .order__pay-method-icon
                  i.icon-pay2
                |Кошелек   
              .order__pay-method-arrow
                i.icon-angle
              .order__pay-method-dropdown.bx-sh
                .order__pay-system
                  input(type="radio" id="elcard" name="pay-system" value="wallet-elcard")
                  label(for="elcard")
                    img(src="img/el.svg", alt="") 
                .order__pay-system
                  input(type="radio" id="visa" name="pay-system" value="wallet-visa")
                  label(for="visa")
                    img(src="img/visa.svg", alt="") 
                .order__pay-system
                  input(type="radio" id="mastercard" name="pay-system" value="wallet-mastercard")
                  label(for="mastercard")
                    img(src="img/mc.svg", alt="") 

            .order__pay-method-item.bx-sh
              .order__pay-method-name
                .order__pay-method-icon
                  i.icon-pay3
                |Картой   
              .order__pay-method-arrow
                i.icon-angle
              .order__pay-method-dropdown.bx-sh
                .order__pay-system
                  input(type="radio" id="elcard" name="pay-system" value="card-elcard")
                  label(for="elcard")
                    img(src="img/el.svg", alt="") 
                .order__pay-system
                  input(type="radio" id="visa" name="pay-system" value="card-visa")
                  label(for="visa")
                    img(src="img/visa.svg", alt="") 
                .order__pay-system
                  input(type="radio" id="mastercard" name="pay-system" value="card-mastercard")
                  label(for="mastercard")
                    img(src="img/mc.svg", alt="") 

            .order__pay-method-item.bx-sh
              .order__pay-method-name
                .order__pay-method-icon
                  i.icon-pay4
                |Банк   
              .order__pay-method-arrow
                i.icon-angle

              .order__pay-method-dropdown.bx-sh
                .order__pay-system
                  input(type="radio" id="bank1" name="pay-system" value="bank-elcard")
                  label(for="bank1")
                    img(src="img/el.svg", alt="") 
                .order__pay-system
                  input(type="radio" id="bank2" name="pay-system" value="bank-visa")
                  label(for="bank2")
                    img(src="img/visa.svg", alt="") 
                .order__pay-system
                  input(type="radio" id="bank3" name="pay-system" value="bank-mastercard")
                  label(for="bank3")
                    img(src="img/mc.svg", alt="")

          
          .basket__total.bx-sh
            .basket__total-item
              .basket__total-lg Итого:
              .basket__total-lg 100.00 сом
            .basket__total-item
              .basket__total-sm 2 товара: менее 1кг
              .basket__total-sm 100.00 сом
            .input
              input(type="text" placeholder="Промо-код:")
          button(type="submit").btn.btn--dark Оформить заказ
          a(href="#").credit.bx-sh В кредит или рассрочку
            span BANK 



    script(src="https://code.jquery.com/jquery-3.6.0.min.js") 
    script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js") 
    script(src="scripts.js") 

order.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>order</title><link rel="stylesheet" href="styles.css"><link rel="stylesheet" href="icon/fontello/css/icon.css"><link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;display=swap" rel="stylesheet"><link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"></head><body><div class="panel-control"><a class="active panel-control__item" href="#"> <div class="panel-control__icon"><i class="icon-home"></i></div><div class="panel-control__title">Главная</div></a><a class="panel-control__item" href="#"> <div class="panel-control__icon"><i class="icon-catalog"></i></div><div class="panel-control__title">Каталог</div></a><a class="panel-control__item" href="#"><div class="panel-control__icon"><div class="panel-control__alert">new</div><i class="icon-products"></i></div><div class="panel-control__title">Продукты</div></a><a class="panel-control__item" href="#"> <div class="panel-control__icon"><i class="icon-basket"></i></div><div class="panel-control__title">Корзина</div></a><a class="panel-control__item" href="#"> <div class="panel-control__icon"><i class="icon-profile"></i></div><div class="panel-control__title">Профиль</div></a></div><div class="menu"><div class="menu__close"> <i class="icon-close"></i></div><div class="menu__item-block"> <div class="title">Моя учетная запись</div><ul><li> <a href="#">Заказы</a></li><li> <a href="#">Учетная запись</a></li><li> <a href="#">О нас</a></li><li> <a href="#">Обратная связь</a></li><li> <a href="#">Подарочные сертификаты</a></li><li> <a href="#">Торговые марки</a></li><li> <a href="#">Карта сайта</a></li><li> <a href="#">Блог</a></li></ul></div><div class="menu__item-block"> <div class="title">Покупательский сервис</div><ul><li> <a href="#">Ваши заказы</a></li><li> <a href="#">Отложенные</a></li><li> <a href="#">Список сравнения</a></li></ul></div><div class="menu__item-block"> <div class="title">Контакты</div><ul><li>г. Бишкек, ул. Уметалиева 127</li><li> <a href="#">+996(550) 050-060 (звонок бесплатный)</a></li><li> <a href="#">+996(701) 050-060</a></li><li> <a href="#">+996(778) 050-060</a></li><li>Пн-Вс 9.00 - 18.00</li><li> <a href="#">info@azor.kg</a></li><li> <a href="#">Посмотреть на карте</a></li></ul></div><div class="menu__item-block menu__item-block--social"> <div class="title">Присоединяйтесь</div><div class="social"> <ul> <li> <a href="#"><img src="icon/tg.svg" alt=""></a></li><li> <a href="#"><img src="icon/wa.svg" alt=""></a></li><li> <a href="#"><img src="icon/in.svg" alt=""></a></li><li> <a href="#"><img src="icon/fb.svg" alt=""></a></li><li> <a href="#"><img src="icon/yt.svg" alt=""></a></li></ul></div></div><div class="menu__item-block"> <div class="title">Оставайтесь на связи</div><p>Подпишитесь на нашу рассылку и получите купон на 10% скидку!<form action=""><div class="subscribe"><input type="text" placeholder="email"><button class="btn btn--orange">подписаться </button></div></form></p></div></div><header class="header"> <div class="header__top"><div class="container header__top-wrap"> <div class="header__col"><div class="hamburger"> </div><a class="logo" href="#"><img src="img/logo.svg" alt=""></a></div><div class="header__col"><div class="header__control"> <a href="#"><i class="icon-compare"> </i></a><a href="#"><i class="icon-favorite"> </i></a></div></div></div></div><div class="header__middle"><div class="container"><form action=""> <div class="search"><div class="search__input"> <input type="text" placeholder="Поиск товаров"><button type="submit"><i class="icon-search"></i></button></div></div></form></div></div><div class="header__bottom"><div class="container"><div class="header__nav"><a href="#">Azor Travel</a><a href="#">Промо-акции</a><a href="#">Бренды</a><a href="#">Новинки</a><a href="#">Хиты продаж</a><a href="#">Товары со скидкой</a></div></div></div></header><div class="bottom-indent"><div class="container"><div class="basket"><div class="basket__control"><div class="basket__control-item basket__control-item--select"><i class="icon-check"></i><span class="t15">Выделить всё</span></div><div class="basket__control-item basket__control-item--delete"><i class="icon-close"></i><span class="t15">Удалить всё (2)</span></div></div><p class="t15">Населенный пункт    </p><div class="select"><input class="select__input" type="hidden" value="Бишкек"><div class="select__selected"><span>Бишкек</span><i class="icon-angles"></i></div><div class="select__dropdown bs"><div class="select__option" data-val="Бишкек">Бишкек</div><div class="select__option" data-val="Каракол">Каракол</div><div class="select__option" data-val="Ош">Ош</div><div class="select__option" data-val="Нарын">Нарын</div></div></div><div class="tab"><div class="title title--ttu"> Выберите способ доставки    </div><ul class="tabs"> <li><div class="bt"><div class="rb"></div><span>Доставить к пункту выдачи   </span></div></li><li><div class="bt"><div class="rb"></div><span>Доставить курьером</span></div></li><li><div class="bt"><div class="rb"></div><span><svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" viewBox="0 0 14 13" fill="none"><path d="M7 10.5134L11.12 13L10.0267 8.31337L13.6667 5.16004L8.87333 4.75337L7 0.333374L5.12666 4.75337L0.333328 5.16004L3.97333 8.31337L2.88 13L7 10.5134Z" fill="#FFCD00"></path></svg>Express доставка</span></div></li></ul><div class="tab_content"><div class="tabs_item"><div class="title title--ttu"> Выберите пункт выдачи</div><div class="select select--bs bx-sh"><input class="select__input" type="hidden" value="г. Бишкек, Уметалиев, 127 (Головной офис) "><div class="select__selected"><span>г. Бишкек, Уметалиев, 127 (Головной офис) </span><i class="icon-angle"></i></div><div class="select__dropdown bx-sh"><div class="select__option" data-val="г. Бишкек, Уметалиев, 127 (Головной офис)">г. Бишкек, Уметалиев, 127 (Головной офис) </div><div class="select__option" data-val="г. Каракол, ул. Гагарина 87">г. Каракол, ул. Гагарина 87</div><div class="select__option" data-val="г. Ош, ул. Гагарина 87">г. Ош, ул. Гагарина 87</div><div class="select__option" data-val="г. Нарын, ул. Гагарина 87">г. Нарын, ул. Гагарина 87</div></div></div></div><div class="tabs_item"><div class="title title--ttu">Укажите адрес</div><div class="input"> <input type="text" name="сourier_delivery" placeholder="Ваш адрес"></div></div><div class="tabs_item"><div class="title title--ttu">Укажите адрес</div><div class="input"> <input type="text" name="сourier_delivery_express" placeholder="Ваш адрес"></div></div><p class="work-time">Режим работы: 9:00 - 18:00            </p></div></div><div class="order__recipient-information"><div class="title title--ttu">Данные получателя</div><div class="input"><label for="name">ИМЯ<span>*</span></label><input type="text" name="имя" id="name" placeholder="Ваше имя"></div><div class="input"><label for="email">Email</label><input type="text" name="email" id="email" placeholder="Электронная почта"></div><div class="input"><label for="phone">Телефон<span>*</span></label><input type="text" name="телефон" id="phone" placeholder="Номер телефона"></div></div><div class="title title--ttu">Способ оплаты</div><div class="order__pay-method"><div class="order__pay-method-item bx-sh"><div class="order__pay-method-name"><div class="order__pay-method-icon"><i class="icon-pay1"></i></div>Наличными   </div></div><div class="order__pay-method-item bx-sh"><div class="order__pay-method-name"><div class="order__pay-method-icon"><i class="icon-pay2"></i></div>Кошелек   </div><div class="order__pay-method-arrow"><i class="icon-angle"></i></div><div class="order__pay-method-dropdown bx-sh"><div class="order__pay-system"><input type="radio" id="elcard" name="pay-system" value="wallet-elcard"><label for="elcard"><img src="img/el.svg" alt=""></label></div><div class="order__pay-system"><input type="radio" id="visa" name="pay-system" value="wallet-visa"><label for="visa"><img src="img/visa.svg" alt=""></label></div><div class="order__pay-system"><input type="radio" id="mastercard" name="pay-system" value="wallet-mastercard"><label for="mastercard"><img src="img/mc.svg" alt=""></label></div></div></div><div class="order__pay-method-item bx-sh"><div class="order__pay-method-name"><div class="order__pay-method-icon"><i class="icon-pay3"></i></div>Картой   </div><div class="order__pay-method-arrow"><i class="icon-angle"></i></div><div class="order__pay-method-dropdown bx-sh"><div class="order__pay-system"><input type="radio" id="elcard" name="pay-system" value="card-elcard"><label for="elcard"><img src="img/el.svg" alt=""></label></div><div class="order__pay-system"><input type="radio" id="visa" name="pay-system" value="card-visa"><label for="visa"><img src="img/visa.svg" alt=""></label></div><div class="order__pay-system"><input type="radio" id="mastercard" name="pay-system" value="card-mastercard"><label for="mastercard"><img src="img/mc.svg" alt=""></label></div></div></div><div class="order__pay-method-item bx-sh"><div class="order__pay-method-name"><div class="order__pay-method-icon"><i class="icon-pay4"></i></div>Банк   </div><div class="order__pay-method-arrow"><i class="icon-angle"></i></div><div class="order__pay-method-dropdown bx-sh"><div class="order__pay-system"><input type="radio" id="bank1" name="pay-system" value="bank-elcard"><label for="bank1"><img src="img/el.svg" alt=""></label></div><div class="order__pay-system"><input type="radio" id="bank2" name="pay-system" value="bank-visa"><label for="bank2"><img src="img/visa.svg" alt=""></label></div><div class="order__pay-system"><input type="radio" id="bank3" name="pay-system" value="bank-mastercard"><label for="bank3"><img src="img/mc.svg" alt=""></label></div></div></div></div><div class="basket__total bx-sh"><div class="basket__total-item"><div class="basket__total-lg">Итого:</div><div class="basket__total-lg">100.00 сом</div></div><div class="basket__total-item"><div class="basket__total-sm">2 товара: менее 1кг</div><div class="basket__total-sm">100.00 сом</div></div><div class="input"><input type="text" placeholder="Промо-код:"></div></div><button class="btn btn--dark" type="submit">Оформить заказ</button><a class="credit bx-sh" href="#">В кредит или рассрочку<span>BANK </span></a></div></div></div><script src="https://code.jquery.com/jquery-3.6.0.min.js"> </script><script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"> </script><script src="scripts.js"> </script></body></html>
