сomparison.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>comparison</title><link rel="stylesheet" href="styles.css"><link rel="stylesheet" href="icon/fontello/css/icon.css"><link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;display=swap" rel="stylesheet"><link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"></head><body><div class="panel-control"><a class="active panel-control__item" href="#"> <div class="panel-control__icon"><i class="icon-home"></i></div><div class="panel-control__title">Главная</div></a><a class="panel-control__item" href="#"> <div class="panel-control__icon"><i class="icon-catalog"></i></div><div class="panel-control__title">Каталог</div></a><a class="panel-control__item" href="#"><div class="panel-control__icon"><div class="panel-control__alert">new</div><i class="icon-products"></i></div><div class="panel-control__title">Продукты</div></a><a class="panel-control__item" href="#"> <div class="panel-control__icon"><i class="icon-basket"></i></div><div class="panel-control__title">Корзина</div></a><a class="panel-control__item" href="#"> <div class="panel-control__icon"><i class="icon-profile"></i></div><div class="panel-control__title">Профиль</div></a></div><div class="menu"><div class="menu__close"> <i class="icon-close"></i></div><div class="menu__item-block"> <div class="title">Моя учетная запись</div><ul><li> <a href="#">Заказы</a></li><li> <a href="#">Учетная запись</a></li><li> <a href="#">О нас</a></li><li> <a href="#">Обратная связь</a></li><li> <a href="#">Подарочные сертификаты</a></li><li> <a href="#">Торговые марки</a></li><li> <a href="#">Карта сайта</a></li><li> <a href="#">Блог</a></li></ul></div><div class="menu__item-block"> <div class="title">Покупательский сервис</div><ul><li> <a href="#">Ваши заказы</a></li><li> <a href="#">Отложенные</a></li><li> <a href="#">Список сравнения</a></li></ul></div><div class="menu__item-block"> <div class="title">Контакты</div><ul><li>г. Бишкек, ул. Уметалиева 127</li><li> <a href="#">+996(550) 050-060 (звонок бесплатный)</a></li><li> <a href="#">+996(701) 050-060</a></li><li> <a href="#">+996(778) 050-060</a></li><li>Пн-Вс 9.00 - 18.00</li><li> <a href="#">info@azor.kg</a></li><li> <a href="#">Посмотреть на карте</a></li></ul></div><div class="menu__item-block menu__item-block--social"> <div class="title">Присоединяйтесь</div><div class="social"> <ul> <li> <a href="#"><img src="icon/tg.svg" alt=""></a></li><li> <a href="#"><img src="icon/wa.svg" alt=""></a></li><li> <a href="#"><img src="icon/in.svg" alt=""></a></li><li> <a href="#"><img src="icon/fb.svg" alt=""></a></li><li> <a href="#"><img src="icon/yt.svg" alt=""></a></li></ul></div></div><div class="menu__item-block"> <div class="title">Оставайтесь на связи</div><p>Подпишитесь на нашу рассылку и получите купон на 10% скидку!<form action=""><div class="subscribe"><input type="text" placeholder="email"><button class="btn btn--orange">подписаться </button></div></form></p></div></div><header class="header"> <div class="header__top"><div class="container header__top-wrap"> <div class="header__col"><div class="hamburger"> </div><a class="logo" href="#"><img src="img/logo.svg" alt=""></a></div><div class="header__col"><div class="header__control"> <a href="#"><i class="icon-compare"> </i></a><a href="#"><i class="icon-favorite"> </i></a></div></div></div></div><div class="header__middle"><div class="container"><form action=""> <div class="search"><div class="search__input"> <input type="text" placeholder="Поиск товаров"><button type="submit"><i class="icon-search"></i></button></div></div></form></div></div><div class="header__bottom"><div class="container"><div class="header__nav"><a href="#">Azor Travel</a><a href="#">Промо-акции</a><a href="#">Бренды</a><a href="#">Новинки</a><a href="#">Хиты продаж</a><a href="#">Товары со скидкой</a></div></div></div></header><div class="bottom-indent"><div class="container"><div class="comparison"><div class="comparison__control"> <div class="comparison__category">Категория</div><div class="comparison__delete"><i class="icon-close"></i><span class="t15">Удалить всё (2)</span></div></div><div class="comparison__characteristics characteristics-js"><input type="hidden" value="Все характеристики"><div class="comparison__characteristics-selected">Все характеристики</div><div class="comparison__characteristics-dropdown bx-sh"><div class="comparison__characteristics-option" data-val="Все характеристики">Все характеристики</div><div class="comparison__characteristics-option" data-val="Все характеристики1">Все характеристики1</div><div class="comparison__characteristics-option" data-val="Все характеристики2">Все характеристики2</div><div class="comparison__characteristics-option" data-val="Все характеристики3">Все характеристики3</div></div></div><div class="comparison__section"><div class="comparison__col-wrap"><div class="comparison__section-col"><div class="comparison__img"><img src="img/basket-product.svg" alt=""></div><div class="comparison__name">iPhone 13 Pro Max, <br> 1 TБ, Графитовый</div></div><div class="comparison__section-col"><div class="comparison__img"><img src="img/basket-product.svg" alt=""></div><div class="comparison__name">iPhone 13 Pro Max, <br> 1 TБ, Графитовый</div></div></div></div><div class="comparison__section"><div class="comparison__section-title">Отзывы</div><div class="comparison__col-wrap"><div class="comparison__section-col"><div class="comparison__rating"><div class="comparison__rating-star"><span><i class="icon-star"></i></span><span><i class="icon-star"></i></span><span><i class="icon-star"></i></span><span><i class="icon-star"></i></span><span><i class="icon-star"></i></span></div><div class="comparison__rating-count">4.3</div></div></div><div class="comparison__section-col"><div class="comparison__rating"><div class="comparison__rating-star"><span><i class="icon-star"></i></span><span><i class="icon-star"></i></span><span><i class="icon-star"></i></span><span><i class="icon-star"></i></span><span><i class="icon-star"></i></span></div><div class="comparison__rating-count">4.3</div></div></div></div></div><div class="comparison__section"><div class="comparison__section-title">Цена</div><div class="comparison__col-wrap"><div class="comparison__section-col"><div class="comparison__val">от 99 990 с   </div></div><div class="comparison__section-col"><div class="comparison__val">от 99 990 с</div></div></div></div><div class="comparison__section comparison__section--color"><div class="comparison__section-title">Цвет</div><div class="comparison__col-wrap"><div class="comparison__section-col"><div class="comparison__color"><ul> <li style="background:#000">  </li><li style="background:#F20000">  </li><li class="comparison__light-color" style="background:#fff">  </li><li style="background:#EAACA8">  </li></ul></div></div><div class="comparison__section-col"><div class="comparison__color"><ul> <li style="background:#000">  </li><li style="background:#006CB3">  </li><li class="comparison__light-color" style="background:#fff">  </li><li style="background:#FFCD00">  </li></ul></div></div></div></div><div class="comparison__section"><div class="comparison__section-title">Линейка</div><div class="comparison__col-wrap"><div class="comparison__section-col"><div class="comparison__val">Iphone 13 </div></div><div class="comparison__section-col"><div class="comparison__val">Iphone 13</div></div></div></div><div class="comparison__section"><div class="comparison__section-title">Материал корпуса</div><div class="comparison__col-wrap"><div class="comparison__section-col"><div class="comparison__val">Алюминий и стекло</div></div><div class="comparison__section-col"><div class="comparison__val">Сталь</div></div></div></div><div class="comparison__section"><div class="comparison__section-title">Качество</div><div class="comparison__col-wrap"><div class="comparison__section-col"><div class="comparison__val">Качество</div></div><div class="comparison__section-col"><div class="comparison__val">Качество</div></div></div></div><div class="comparison__section"><div class="comparison__section-title">Качество</div><div class="comparison__col-wrap"><div class="comparison__section-col"><div class="comparison__val">Качество</div></div><div class="comparison__section-col"><div class="comparison__val">Качество</div></div></div></div></div></div></div><script src="https://code.jquery.com/jquery-3.6.0.min.js"> </script><script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"> </script><script src="scripts.js"> </script></body></html>

сomparison.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title comparison
    link(rel="stylesheet", href="styles.css")
    link(rel="stylesheet", href="icon/fontello/css/icon.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
  body
    .panel-control
      mixin controler(alert, icon, title, active)
        if alert == 'alert'
          a(href="#" class=active).panel-control__item
            .panel-control__icon
              .panel-control__alert new
              i(class=`icon-`+icon)
            .panel-control__title=title
        else  
          a(href="#" class=active).panel-control__item 
            .panel-control__icon
              i(class=`icon-`+icon)
            .panel-control__title=title  
      +controler('', 'home', 'Главная', 'active')
      +controler('', 'catalog', 'Каталог')
      +controler('alert', 'products', 'Продукты')
      +controler('', 'basket', 'Корзина')
      +controler('', 'profile', 'Профиль')

    .menu
      .menu__close 
        i.icon-close
      .menu__item-block 
        .title Моя учетная запись
        ul
          mixin item(name)
            li 
              a(href="#")=name
          +item('Заказы')     
          +item('Учетная запись')
          +item('О нас')
          +item('Обратная связь')
          +item('Подарочные сертификаты')
          +item('Торговые марки')
          +item('Карта сайта')
          +item('Блог')
      .menu__item-block 
        .title Покупательский сервис
        ul
          +item('Ваши заказы')     
          +item('Отложенные')     
          +item('Список сравнения')     
      .menu__item-block 
        .title Контакты
        ul
          li г. Бишкек, ул. Уметалиева 127
          +item('+996(550) 050-060 (звонок бесплатный)')     
          +item('+996(701) 050-060')     
          +item('+996(778) 050-060')     
          li Пн-Вс 9.00 - 18.00
          +item('info@azor.kg')     
          +item('Посмотреть на карте')  
      .menu__item-block.menu__item-block--social 
        .title Присоединяйтесь
        .social 
          ul 
            mixin social(icon) 
              li 
                a(href="#")
                  img(src=`icon/`+icon+`.svg`, alt="")
            +social('tg')       
            +social('wa')       
            +social('in')       
            +social('fb')       
            +social('yt')       
      .menu__item-block 
        .title Оставайтесь на связи
        p Подпишитесь на нашу рассылку и получите купон на 10% скидку!
          form(action="")
            .subscribe
              input(type="text" placeholder="email")
              button.btn.btn--orange подписаться 
   
    header.header 
      .header__top
        .container.header__top-wrap 
          .header__col
            .hamburger 
            a(href="#").logo
              img(src="img/logo.svg", alt="")
          .header__col
            .header__control 
              a(href="#")
                i.icon-compare 
              a(href="#")
                i.icon-favorite 
      .header__middle
        .container
          form(action="") 
            .search
              .search__input 
                input(type="text" placeholder="Поиск товаров")
                button(type="submit")
                  i.icon-search

      .header__bottom
        .container
          .header__nav
            mixin nav(name) 
              a(href="#")=name
            +nav('Azor Travel')
            +nav('Промо-акции')
            +nav('Бренды')
            +nav('Новинки')
            +nav('Хиты продаж')
            +nav('Товары со скидкой')     

    .bottom-indent
      .container
        .comparison
          .comparison__control 
            .comparison__category Категория
            .comparison__delete
              i.icon-close
              span.t15 Удалить всё (2)
          .comparison__characteristics.characteristics-js
            input(type="hidden" value="Все характеристики")
            .comparison__characteristics-selected Все характеристики
            .comparison__characteristics-dropdown.bx-sh
              .comparison__characteristics-option(data-val="Все характеристики") Все характеристики
              .comparison__characteristics-option(data-val="Все характеристики1") Все характеристики1
              .comparison__characteristics-option(data-val="Все характеристики2") Все характеристики2
              .comparison__characteristics-option(data-val="Все характеристики3") Все характеристики3
          .comparison__section
            .comparison__col-wrap
              .comparison__section-col
                .comparison__img
                  img(src="img/basket-product.svg", alt="")
                .comparison__name iPhone 13 Pro Max, <br> 1 TБ, Графитовый
              .comparison__section-col
                .comparison__img
                  img(src="img/basket-product.svg", alt="")
                .comparison__name iPhone 13 Pro Max, <br> 1 TБ, Графитовый

          
          .comparison__section
            .comparison__section-title Отзывы
            .comparison__col-wrap
              .comparison__section-col
                .comparison__rating
                  .comparison__rating-star
                    span
                      i.icon-star
                    span
                      i.icon-star
                    span
                      i.icon-star
                    span
                      i.icon-star
                    span
                      i.icon-star
                  .comparison__rating-count 4.3
              .comparison__section-col
                .comparison__rating
                  .comparison__rating-star
                    span
                      i.icon-star
                    span
                      i.icon-star
                    span
                      i.icon-star
                    span
                      i.icon-star
                    span
                      i.icon-star
                  .comparison__rating-count 4.3
          .comparison__section
            .comparison__section-title Цена
            .comparison__col-wrap
              .comparison__section-col
                .comparison__val от 99 990 с   
              .comparison__section-col
                .comparison__val от 99 990 с
          .comparison__section.comparison__section--color
            .comparison__section-title Цвет
            .comparison__col-wrap
              .comparison__section-col
                .comparison__color
                  ul 
                    li(style="background:#000")   
                    li(style="background:#F20000")   
                    li.comparison__light-color(style="background:#fff")   
                    li(style="background:#EAACA8")   
              .comparison__section-col
                .comparison__color
                  ul 
                    li(style="background:#000")   
                    li(style="background:#006CB3")   
                    li.comparison__light-color(style="background:#fff")   
                    li(style="background:#FFCD00")   
          .comparison__section
            .comparison__section-title Линейка
            .comparison__col-wrap
              .comparison__section-col
                .comparison__val Iphone 13 
              .comparison__section-col
                .comparison__val Iphone 13
          .comparison__section
            .comparison__section-title Материал корпуса
            .comparison__col-wrap
              .comparison__section-col
                .comparison__val Алюминий и стекло
              .comparison__section-col
                .comparison__val Сталь
          .comparison__section
            .comparison__section-title Качество
            .comparison__col-wrap
              .comparison__section-col
                .comparison__val Качество
              .comparison__section-col
                .comparison__val Качество
          .comparison__section
            .comparison__section-title Качество
            .comparison__col-wrap
              .comparison__section-col
                .comparison__val Качество
              .comparison__section-col
                .comparison__val Качество




    script(src="https://code.jquery.com/jquery-3.6.0.min.js") 
    script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js") 
    script(src="scripts.js") 
